#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/*trying out some css */
h1 {
    color: rgb(126, 15, 15);
    
    font-size: 70px; 

    text-decoration: underline double;
}

body{ 
    /*background-color: rgba(218, 112, 214, 0.116);*/
    background-image: linear-gradient(rgba(255, 0, 242, 0.068), rgba(14, 255, 143, 0.089));
}

.firstbuttonclass{
    background-color: palegoldenrod;
    text-align: center;
    cursor:pointer;
    font-size: medium;
}
