#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/*trying out some css */
h1 {
    color: rgb(126, 15, 15);
    
    font-size: 70px; 

    text-decoration: underline double;

    font-stretch: semi-condensed;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{ 
    /*background-color: rgba(218, 112, 214, 0.116);*/
    background-image: linear-gradient(rgba(255, 0, 242, 0.068), rgba(14, 255, 143, 0.089));
}

.firstbuttonclass{
    background-color: palegoldenrod;
    text-align: center;
    cursor:pointer;
    font-size: medium;
}

.buttonAppear{
    appearance: button;
    text-align: center;
    cursor:pointer;
    font-size: medium;
}

.forward{
    background-color: lavenderblush;
    text-align: center;
    cursor:pointer;
    font-size: large;
}

.backward{
    background-color:lavenderblush;
    text-align: center;
    cursor:pointer;
    font-size: large;
}
.languagesClass{
    position: absolute;
    bottom: 15px;
}
#projectBox{
    border: 2px double black;
    width: 650px;
    height: 250px;
    border-radius: 25px;
    margin:auto;
    background-color: rgba(224, 255, 255, 0.274);
}

/* now I will start doing the game's css on another file */

